body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDDFB3;
}

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
    background: #EDDFB3;
    width: 0.3rem;
}

::-webkit-scrollbar-thumb{
  background-color: #B09B71;
  height: 0.4em;
  width: 0.3rem;
}

::-webkit-scrollbar-track{
  width: .1em;
}

::-webkit-scrollbar-button{
  height: 0.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
