
:root{
    --dashBack: #B09B71;
    --headBack: #fff;
}


.dash-container{
    background: var(--dashBack);
    display: flex;
    height: 3.5em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;

    box-shadow: -3px 13px 26px -10px rgba(255,255,255,0.46);



    .flex-item{
        flex: 1 1 auto;

    }

    .nav-container{
        display: flex;
    }

    .buscador{
        display: flex;
        border-radius: 1em;
        justify-content: center;



        .buscador__boton{
            background-color: var(--headBack);
            border: none;
            padding: .3em;

        }
        .buscador__text{
            border: none;
            outline: none;
            padding: .3em;

        }
    }

    .logo{
        font-size: 1.5em;
        text-decoration: none;
        color: var(--headBack);
        text-align: center;
        flex: 1 1 auto;
    }

    .link-container{
        display: flex;
        .link{
            flex: 1 1 auto;
            font-size: 1.5em;
            text-decoration: none;
            color: var(--headBack);
        }
    }
}

