


.sideMenu__container{
    width: 0%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #0002;
    transition: .7s ease-in-out all;
    z-index: 0;

    .sideMenu__container-link{

        width: 0%;
        background-color: #EDDFB3;
        justify-content: space-between;
        overflow: hidden;
        transition: .7s ease-in-out all;
    }

    .sideMenu__container-button{
        margin: auto 0;
        padding: 0.5rem;
        z-index: 10;

        label{
            font-size: 2rem;
            cursor: pointer;
        }
    }
}



@media screen and (max-width: 500px) {

    .sideMenu__container{
        display: none;
    }

}