.sideMenu__container{
    width: 25%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;



    .sideMenu__container-link{
        width: 0;
        background-color: #EDDFB3;
        justify-content: space-between;
        overflow: hidden;
        transition: .7s ease-in-out all;
    }

    .sideMenu__container-button{
        margin: auto 0;

        label{
            font-size: 2rem;
            cursor: pointer;
        }
    }
}



@media screen and (max-width: 500px) {

    .sideMenu__container{
        display: none;
    }

}